spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://db:5432/empresa_db
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false

server:
  port: 8080

logging:
  file:
    path: /app/logs
  level:
    root: INFO
    org.springframework.web: WARN
    org.hibernate: ERROR

management:
  endpoints:
    web:
      exposure:
        include: health, info
