services:
  backend:
    build:
      context: ../empresa-reverse-backend
      dockerfile: Dockerfile.dev
    container_name: spring_app
    volumes:
      - ../empresa-reverse-backend/src:/app/src
    command: ./mvnw spring-boot:run
    environment:
      SPRING_DEVTOOLS_RESTART_ENABLED: "true"
    networks:
      - internal_net
      - public_net

  frontend:
    build:
      context: ../empresa-reverse-frontend
      dockerfile: Dockerfile.dev
    container_name: angular_dev
    volumes:
      - ../empresa-reverse-frontend/src:/app/src
      - ../empresa-reverse-frontend/angular.json:/app/angular.json
      - ../empresa-reverse-frontend/package.json:/app/package.json
      - ../empresa-reverse-frontend/tsconfig.json:/app/tsconfig.json
      - ../empresa-reverse-frontend/tsconfig.app.json:/app/tsconfig.app.json
    command: npm start -- --host 0.0.0.0 --poll 1000
    networks:
      - public_net

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    volumes:
      - ./nginx/default.dev.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - backend
      - frontend
    networks:
      - public_net
      - internal_net