.mv-banner-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  filter: brightness(0.6);
}
.mv-banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.mv-banner-content h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  animation: fadeInDown 1.2s ease;
}

.mv-banner-content p {
  font-size: 1.2rem;
  opacity: 0.9;
  animation: fadeInUp 1.2s ease;
}

.contorno{
   display: flex;
  justify-content: center;
  align-items: center;

}

.form-container {
  width: 500px;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  justify-content: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: #333;
}

.form-container label {
  font-weight: bold;
  font-size: 20px;
  color: #444;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  width: 100%;
}

.form-container textarea {
  resize: none;
  height: 80px;
}

.form-container button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #9c9fa3;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
}

.form-container button:hover {
  background-color: #9ba2af;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .mv-banner-content h1 {
    font-size: 2.5rem;
  }

  .mv-text h2 {
    font-size: 2rem;
  }

  .mv-image img {
    width: 100%;
    max-width: 350px;
  }
}
